@import "tailwindcss";

* {
  font-family: "Noto Sans TC", sans-serif;
  scroll-behavior: smooth;
}

.content_wrap{
  position: relative;
  display: block;
  max-width: 1366px;
  margin: 0 auto;
  padding: 85px 0;
}

.title{
  font-weight: 700;
  letter-spacing: 15px;
}