<!doctype html>
<html lang="en">
	 <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image" href="/favicon.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>解碼原物料 點燃財富新契機</title>
    <!--清除cache-->
    <meta http-equiv="EXPIRES" content="0">
    <meta http-equiv="CACHE-CONTROL" content="NO-CACHE">
    
    <meta
      name="keywords"
      content="原物料、財富、投資、永豐期貨、今周刊"
    />
    <meta
      name="description"
      content="在震盪市況中，如何精準掌握原物料新高點？從原油、黃豆、銅三大核心商品下，今周刊與永豐期貨攜手舉辦深度講座，聚焦市場焦點與策略實務，過去場場爆滿，廣受好評，今年再度強勢登場，誠摯邀您參與！"
    />
    <meta property="og:title" content="解碼原物料 點燃財富新契機" />
    <meta
      property="og:keywords"
      content="原物料、財富、投資、永豐期貨、今周刊"
    />
    <meta
      property="og:description"
      content="在震盪市況中，如何精準掌握原物料新高點？從原油、黃豆、銅三大核心商品下，今周刊與永豐期貨攜手舉辦深度講座，聚焦市場焦點與策略實務，過去場場爆滿，廣受好評，今年再度強勢登場，誠摯邀您參與！"
    />
    <meta property="og:image" content="/ogImg.png" />
    <meta property="og:type" content="website" />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap" rel="stylesheet">
   
    
    <!-- Google tag (gtag.js) --> 
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-E8QKRYXRLQ"></script>
    <script> window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'G-E8QKRYXRLQ'); </script>
    <!--今周活動網站GA4-->

    <!-- GA4 :Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-N8FFXWM');</script>
    <!-- End Google Tag Manager -->
  </head>
	<body>
		<slot />
	</body>
</html>

<style>

</style>
