<!doctype html>
<html lang="en">
	 <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image" href="/favicon.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>2025 台灣永續峰會：從城市4.0 到城市淨零</title>
    <!--清除cache-->
    <meta http-equiv="EXPIRES" content="0">
    <meta http-equiv="CACHE-CONTROL" content="NO-CACHE">
    
    <meta
      name="keywords"
      content="2025西門子高峰論壇、台灣永續峰會、城市淨零、西門子、今周刊、德國在台協會、ESG、ESG論壇"
    />
    <meta
      name="description"
      content="以「從城市4.0到城市淨零」為主題，匯聚台灣與德國的公私部門代表，聚焦數位轉型與淨零實踐的交會點，探討如何透過科技創新、制度整合與跨界合作，加速城市治理與產業升級。這是一個連結在地行動與國際經驗的前瞻平台，攜手推動智慧與永續並行的未來城市。"
    />
    <meta property="og:title" content="2025 台灣永續峰會：從城市4.0 到城市淨零" />
    <meta
      property="og:keywords"
      content="2025西門子高峰論壇、台灣永續峰會、城市淨零、西門子、今周刊、德國在台協會、ESG、ESG論壇"
    />
    <meta
      property="og:description"
      content="以「從城市4.0到城市淨零」為主題，匯聚台灣與德國的公私部門代表，聚焦數位轉型與淨零實踐的交會點，探討如何透過科技創新、制度整合與跨界合作，加速城市治理與產業升級。這是一個連結在地行動與國際經驗的前瞻平台，攜手推動智慧與永續並行的未來城市。"
    />
    <meta property="og:image" content="https://events.businesstoday.com.tw/2025/2025siemen/ogImg.jpg" />
    <meta property="og:type" content="website" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap" rel="stylesheet">
   
    
    <!-- Google tag (gtag.js) --> 
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-E8QKRYXRLQ"></script>
    <script> window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'G-E8QKRYXRLQ'); </script>
    <!--今周活動網站GA4-->

    <!-- GA4 :Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-N8FFXWM');</script>
    <!-- End Google Tag Manager -->
  </head>
	<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-N8FFXWM "
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
		<slot />
	</body>
</html>

<style>

</style>
